{{ define "main" }}
<div>
  <main>
    <a
      href="https://github.com/joseflekardal/joseflekardal.github.io/commit/{{ .GitInfo.Hash }}"
      target="_blank"
      >{{ .GitInfo.AbbreviatedHash }} @ {{ .GitInfo.CommitDate.Format
      "2006-01-02" }}</a
    >
    <h1>{{ .Title }}</h1>

    <div>{{- .Content -}}</div>

    <div id="app">
      <form>
        <fieldset>
          <h3>Play before each secret note:</h3>
          <label>
            <input type="radio" name="before" value="all" checked /> Scale
          </label>
          <label>
            <input type="radio" name="before" value="root" /> Root
          </label>
          <label>
            <input type="radio" name="before" value="none" /> None
          </label>
        </fieldset>
        <fieldset>
          <h3>Number of secret notes:</h3>
          <label>
            <input type="number" name="secretNotes" value="1" min="1" />
          </label>
        </fieldset>
      </form>

      <div class="score">Score: <span id="score">0</span></div>
      <button onclick="run()">Play</button>

      <hr />

      <section>
        <button data-id="0">1</button>
        <button data-id="1">2</button>
        <button data-id="2">3</button>
        <button data-id="3">4</button>
        <button data-id="4">5</button>
        <button data-id="5">6</button>
        <button data-id="6">7</button>
        <button data-id="7">8</button>
      </section>
    </div>
  </main>

  <script type="module">
    const VOLUME = 0.5;
    const BPM = 100;
    const buttonWrapper = document.querySelector("section");
    const score = document.getElementById("score");
    let firstRun = true;
    let numberOfSecretNotes = 1;

    let before = "all";

    let notes = [261.63, 293.66, 329.63, 349.23, 392, 440, 493.88, 523.25];

    let ctx;

    function up() {
      notes = notes.map((n) => n * 2);
    }

    function down() {
      notes = notes.map((n) => n / 2);
    }

    function playNote(freq, release, time, onEnded) {
      const osc = ctx.createOscillator();

      osc.type = "sine";

      osc.frequency.setValueAtTime(freq, ctx.currentTime);
      const env = new GainNode(ctx);

      env.gain.cancelScheduledValues(time);
      env.gain.setValueAtTime(VOLUME, time);
      env.gain.linearRampToValueAtTime(0, time + release);

      osc.connect(env).connect(ctx.destination);
      osc.start(time);
      osc.stop(time + release);

      if (onEnded) {
        osc.addEventListener("ended", onEnded, { once: true });
      }
    }

    function getRandomNote() {
      return notes[Math.floor(Math.random() * notes.length)];
    }

    function getBpm(bpm) {
      return bpm / 60;
    }

    function getAnswer() {
      return new Promise((resolve) => {
        function onClick(event) {
          if (event.target.tagName === "BUTTON") {
            buttonWrapper.removeEventListener("click", onClick);

            const answer = Number(event.target.dataset.id);
            resolve(answer);
          }
        }

        buttonWrapper.addEventListener("click", onClick);
      });
    }

    function onEnded(secretNotes) {
      return async () => {
        for (const secretNote of secretNotes) {
          const answer = await getAnswer();
          const isAnswerCorrect = notes[answer] === secretNote;

          if (isAnswerCorrect) {
            score.innerText = Number(score.innerText) + 1;
            continue;
          }

          score.innerText = 0;
          firstRun = true;

          if (
            confirm(
              `should've been ${notes.indexOf(secretNote) + 1}, play again?`,
            )
          ) {
            run();
          }
          return;
        }

        run();
      };
    }

    function all() {
      const subdivision = 2;
      notes.forEach((note, i) => {
        playNote(note, 0.2, i / getBpm(BPM) / subdivision);
      });

      const secretNotes = [];
      let i = 0;

      while (i++ < numberOfSecretNotes) {
        secretNotes.push(getRandomNote());
      }

      secretNotes.forEach((secretNote, i) => {
        playNote(
          secretNote,
          0.2,
          (notes.length + i + 2) / getBpm(BPM) / subdivision,
          i + 1 === secretNotes.length ? onEnded(secretNotes) : null,
        );
      });
    }

    function root() {
      const subdivision = 2;
      playNote(notes[0], 0.2, 0);

      const secretNotes = [];
      let i = 0;

      while (i++ < numberOfSecretNotes) {
        secretNotes.push(getRandomNote());
      }

      secretNotes.forEach((secretNote, i) => {
        playNote(
          secretNote,
          0.2,
          (i + 2) / getBpm(BPM) / subdivision,
          i + 1 === secretNotes.length ? onEnded(secretNotes) : null,
        );
      });
    }

    function none() {
      const subdivision = 2;

      const secretNotes = [];
      let i = 0;

      while (i++ < numberOfSecretNotes) {
        secretNotes.push(getRandomNote());
      }

      secretNotes.forEach((secretNote, i) => {
        playNote(
          secretNote,
          0.2,
          (i + 2) / getBpm(BPM) / subdivision,
          i + 1 === secretNotes.length ? onEnded(secretNotes) : null,
        );
      });
    }

    window.run = function () {
      ctx = new AudioContext();

      const settingsForm = document.querySelector("form");

      const form = new FormData(settingsForm);

      before = form.get("before");
      numberOfSecretNotes = Number(form.get("secretNotes"));

      if (firstRun) {
        all();

        firstRun = false;
        return;
      }

      switch (before) {
        case "all":
          all();
          break;
        case "root":
          root();
          break;
        case "none":
          none();
          break;
        default:
          throw Error("Not a valid option");
      }
    };
  </script>
</div>
{{ end }}
