<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lacquer&family=PT+Mono&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  </head>
  <body>
    <header>
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </header>
    {{ block "main" . }} {{ end }}

    <footer>
      {{ block "footer" . }}
      <a href="https://github.com/joseflekardal">GitHub</a>
      {{ end }}
    </footer>
  </body>
</html>
