* {
  --primary-color: #f8b200;
  --bg-color: #2e2e2e;
  --text-color: #fff;
}

@media (prefers-color-scheme: light) {
  * {
    --bg-color: #fff3d6;
    --text-color: #4d4636;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  color: var(--text-color);
  font-weight: bold;
}

h1 {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  font-size: 5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.start-page .content {
  margin-bottom: 4rem;

  & p {
    font-size: 1.75rem;
  }
}

.start-page {
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
    padding: 0;
  }

  & a {
    text-decoration: none;
  }
}

footer {
  margin-top: 2rem;
}

div:has(iframe) {
  border: 4px solid var(--primary-color);
}

button {
  background: var(--primary-color);
  color: var(--bg-color);
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  transition: 50ms transform color ease-in;
  cursor: pointer;

  &:hover,
  &.highlight {
    transform: scale(1.05);
    color: white;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.highlight pre {
  padding: 1rem;
}
